  <div class="container">
    <p>Admin Section</p>
      <a class="btn btn-default btn-sm btn-register" ui-sref="signup">
          + Sales Person
      </a>
    <p>Existing Sales Person</p>
    <ul class="list-group user-list">
      <li class="list-group-item" ng-repeat="user in admin.users">
  	    <div class="user-info">
  	        <strong>{{user.name}}</strong><br>
  	        <span class="text-muted">{{user.email}}</span>
  	    </div>
          <a ng-click="admin.delete(user)" class="trash"><span class="fa fa-trash fa-2x"></span></a>
      </li>
    </ul>
  </div>
